<!-- <div>
  <h1><%= @task.title %></h1>
  <p>

    <% if @task.details.nil? %>
      <em>No details</em>
    <% else %>
      @task.details
    <% end %>
  </p>
  <p>
    <%=
      @task.done ?
      'Done' :
      'Not done'
    %>
  </p>
</div>

<%= render 'back_to_index_button' %>
 -->
