// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tasks-table {

  width: 100%;

  thead, tbody {
    tr {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      th, td {

        &:nth-child(1) {
          // width: 100px;
          text-align: center;
          flex: 0 0 3em;

          input {
            width: 1.2em;
            height: 1.2em;
          }
        }

        &:nth-child(2) {
          // width: 100px;
          text-align: center;
          flex: 0 1 auto;
        }

        &:nth-child(3) {
          // width: 100px;
          text-align: center;
          flex: 0 0 3em;

          a {
            text-decoration: none;
          }
        }
      }
    }
  }
}
